<div class="researcher-list-container">
  <section class="researcher-group">
    <h2 class="group-title">{{ 'RESEARCHERS.CORE_MEMBERS' | translate }}</h2>

    <div class="grid">
      <app-researcher-card *ngFor="let member of coreMembers$ | async" [researcherId]="member.id">
      </app-researcher-card>
    </div>
  </section>

  <section class="researcher-group">
    <h2 class="group-title">{{ 'RESEARCHERS.COLLABORATORS' | translate }}</h2>

    <div class="grid">
      <app-researcher-card
        *ngFor="let collaborator of collaborators$ | async"
        [researcherId]="collaborator.id"
      >
      </app-researcher-card>
    </div>
  </section>
</div>
