@if (layout === 'standard') {
  <article class="researcher-card" *ngIf="researcher">
    <div class="avatar-wrapper">
      <img
        *ngIf="researcher.photoUrl; else noImage"
        [src]="researcher.photoUrl"
        [alt]="getLocalized(researcher.firstName) + ' ' + getLocalized(researcher.lastName)"
        class="avatar-img"
      />

      <ng-template #noImage>
        <div class="avatar-placeholder">
          {{ getLocalized(researcher.firstName)[0] }}{{ getLocalized(researcher.lastName)[0] }}
        </div>
      </ng-template>
    </div>

    <div class="card-content">
      <a [routerLink]="['/', lang, 'researchers', researcher.id]" class="name-link">
        <h3 class="name">
          {{ getLocalized(researcher.firstName) }} {{ getLocalized(researcher.lastName) }}
        </h3>
      </a>
      <p class="title">{{ getLocalized(researcher.title) }}</p>

      <div class="discipline-tags">
        <span class="tag" *ngFor="let discipline of researcher.disciplines">
          {{ getLocalized(discipline) }}
        </span>
      </div>
    </div>
  </article>
} @else {
  <a
    [routerLink]="['/', lang, 'researchers', researcher.id]"
    class="researcher-row-compact"
    *ngIf="researcher"
  >
    <img
      *ngIf="researcher.photoUrl; else noImageCompact"
      [src]="researcher.photoUrl"
      [alt]="getLocalized(researcher.firstName) + ' ' + getLocalized(researcher.lastName)"
      class="compact-photo"
    />
    <ng-template #noImageCompact>
      <div class="compact-placeholder">
        {{ getLocalized(researcher.firstName)[0] }}{{ getLocalized(researcher.lastName)[0] }}
      </div>
    </ng-template>

    <img
      *ngIf="parentOrg && parentOrg.logoUrl"
      [src]="parentOrg.logoUrl"
      class="compact-uni-logo"
      [title]="parentOrg.title[$any(lang)]"
    />

    <span class="compact-name">
      {{ getLocalized(researcher.firstName) }} {{ getLocalized(researcher.lastName) }}
    </span>

    <span class="compact-title">{{ getLocalized(researcher.title) }}</span>
  </a>
}
